{% extends "blog.html" %} {% block content %}
<h2>Edit Post</h2>
<form method="POST">

    <p><label for="subject">Subject</label>
        <input class="text" type="text" name="subject" value="{{post.subject}}">
     
    <p><label for="content">Content</label>
        <textarea name="content">{{post.content}}</textarea>

        <span><label class="error">{{post_error}}</label></span>
    <div>
    	<input type="submit" class="btn" name="update" value="Update">
    	<input type="submit" class="btn" name="cancel" value="Cancel">
    </div>
</form>
{% endblock %}