{% extends "blog.html" %} {% block content %}
<h2>Login</h2>
<form method="POST">

    <p><label for="username">Username</label>
            <input type="text" name="username" value="{{username}}" required>
         
    <p><label for="password">Password</label>
                <input type="password" name="password" value="" required>
           
        <span><div class="alert-danger">{{error}}</div></span>
           
    <p><input type="submit" class="btn" value="Login">
</form>
<hr>
<p class='content'> Not registered yet?</p>
<a class="btn" href="/signup">Signup</a> {% endblock %}