{% extends "blog.html" %} {% block content %}
<h2>New User Signup</h2>
<form method="POST">
	
	<p><label for="username">Username</label>
			<input type="text" name="username" value="{{username}}" required>
			<span>{{error_username}}</span>
		
	<p><label for="password">Password</label>
			<input type="password" name="password" value="" required>
			<span>{{error_password}}</span>
	
		
	<p><label for="verify">Verify Password</label>
			<input type="password" name="verify" value="" required>
			<span>{{error_verify}}</span>

	<p><label for="email">Email (Optional)</label>
			<input type="text" name="email" id="email" value="">
	
		
	<p><input type="submit" class="btn" value="Signup">
</form>
<hr>
<p class='content'> Already registered?</p>

<a class="btn" href="/login">Login</a> {% endblock %}
